.logo {
  width: 120px; height: 40px;
}

/* el fondo siempre se va a ajustar a la pantalla*/
.fondopag{
  background: url("../imagenes/fondo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*para centrar las imagenes del carousel*/
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
.item{ display: inline-block; }
.fuentecarousel, .nosotros{
  background: #464646;
  height: auto;
}

.nosotros, .tituloarticulo{
  color: #76ADAD;
}

.nosotros{
  width: 650px !important;
  margin: 26,5% auto;
}

.cargar{
  color: black;
}

.letradestacada{
  color:#76ADAD;
}

.collapse li, .logo{
  cursor:pointer;
}
.tituloarticulo{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 24px;
  text-align: center;
  background-color: #464646;
}

.container{
  background-color: #464646;
  opacity: 0.99;
  color: white;
}

.tablita{
  margin-left: 0px;
}
.carousel-caption{
  width: 26% auto;
  margin: 0px auto;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  margin-bottom:110px;
  text-align: left;
  border-collapse: collapse; }

  th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039; }

  td {
      padding: 8px;
      background: #e8edff;
      border-bottom: 1px solid #fff;
      color: #669;
      border-top: 1px solid transparent; }

  tr:hover

  td {
        background: #d0dafd;
        color: #339; }
