body {
  background-image: url(https://cdn.civitatis.com/guias/lasvegas/fotos/the-strip-vegas.jpg);
  background-position: center center;


  /* La imagen de fondo no se repite */
  background-repeat: no-repeat;

  /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
     la altura del contenido supere la altura de la imagen. */
  background-attachment: fixed;

  /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
     del navegador */
  background-size: cover;

  /* Fijamos un color de fondo para que se muestre mientras se está
    cargando la imagen de fondo o si hay problemas para cargarla  */
  background-color: #464646;
}

h1{
  text-align: center;
  background-color: red;
}
h2{
  text-align: center;
}

#ocultar{
  display: none;
}

.numero, .negro, .rojo, .verde{
  color: white;
}

.negro{
  background-color: black;
}
.pares, .impares, .primitad, .segmitad, .pleno, .numero, .negro, .rojo, .verde{
  font-size: 20px;
}

.suerte{
  font-size: 35px;
  font-style: italic;
}

.rojo{
  background-color: red;
}

.verde{
  background-color: green;
}

.dividirespacio{
  clear: both;
}

#apostados span{
  color: white;
  display: block;
  background-color: #464646;

}
