body {
  background-color: #114611;

}

h1{
  text-align: center;
  background-color: #55AA55;
}
h2{
  text-align: center;
}

#ocultar{
  display: none;
}

.numero, .negro, .rojo, .verde{
  color: white;
}

.negro{
  background-color: black;
}
.pares, .impares, .primitad, .segmitad, .pleno, .numero, .negro, .rojo, .verde{
  font-size: 20px;
}

.suerte{
  font-size: 35px;
  font-style: italic;
}

.rojo{
  background-color: red;
}

.verde{
  background-color: green;
}

.dividirespacio{
  clear: both;
}

#apostados span, .apostados{
  color: white;
  display: block;
  background-color: #464646;

}
