body{
  background-color: #E6E6E6
}

h1{
  font-size: 35px;
  font-family: sans-serif;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;

  box-shadow: 0px 0px 15px gray;
  background-color: #C5B8EF;
  height: 35px;
  float: center;
  margin-left: 210px;
  margin-right: 250px;
  width: 850;
  padding-right: 40px;

  list-style-type:none; /*le sacamos las bolitas de las viñetas*/
  text-align:center; /*lo centramos*/
}

.imagenIzq{
  background-image: url("../imagenes/articulos2.jpg");
  background-size: 300px 400px;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  float: right;
}

.imagenDer{
  background-image: url("../imagenes/articulos1.jpg");
  background-size: 300px 400px;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  float: left;
}
ul{
  text-align: center;
  list-style-type: none;
  display:inline-grid;
  }
li{
  padding: 4px;
  }

  .footer{
    position: relative;;
    bottom: 0px;
  }
