body{
  background-color: #E6E6E6;
}

.nombre{
  font-size: 35px;
  font-family: sans-serif;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}

.total{
  font-size: 30px;
}

#datos{
  border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
}


#oferta1, #oferta2, #oferta3{
  font-size: 25px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}

#oferta1, #oferta2, #oferta3  {
  font-size: 20px;
  background-color: red;
  background-position:right;
  list-style: none;
  float:left;
  width:33.3%;
}

#oferta2{
  background-color: violet;
}

#oferta3{
  background-color: orange;
  width: 66.6%;
}

#imagenizq{
  background-image: url("../imagenes/cara de salvador izq.jpg");
  background-size: 200px 400px;
  background-size: cover;
  width: 16.7%;
  height: 400px;
  margin-top: 89px;
  float:left;
}

#imagender{
  background-image: url("../imagenes/pinceles derecha.jpg");
  background-size: 200px 400px;
  width: 16.5%;
  height: 400px;
  margin-top: 89px;
  float: right;

}
ul{
  list-style-type: none; /*le sacamos las bolitas de las viñetas*/
}
#navegador ul{
  box-shadow: 0px 0px 15px gray;
  background-color: #C5B8EF;
  height: 20px;
  float: center;
  margin-left: 210px;
  margin-right: 200px;
  width: 850;
  padding-right: 40px;
  text-align:center; /*lo centramos*/
}

#navegador li{  /*se pone la lista en horizontal y se acomodan los margenes*/
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

#navegador li a { /*le damos un marco, color y borde para cada elemento de la barra de navegacion*/
  padding: 2px 7px 2px 7px;
  color: #252c25;
  background-color: #C9B9FE;
  /*border: 1px solid #ccc;*/
  text-decoration: none;
}

#navegador li a:hover{ /*es para que cuando nos paremos arriba cambie de color*/
  background-color: #333333;
  color: #ffffff;
}
