body{
  background-color: #E6E6E6
}

h1{
  font-size: 35px;
  font-family: sans-serif;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;

  box-shadow: 0px 0px 15px gray;
  background-color: #C5B8EF;
  height: 35px;
  width: 850;
  float: center;
  margin-left: 210px;
  margin-right: 250px;
  padding-right: 40px;

  list-style-type:none; /*le sacamos las bolitas de las viñetas*/
  text-align:center; /*lo centramos*/
}

.prodSeleccionado{
  background-image: url("../imagenes/acrilicos.jpg");
  background-size: 300px 300px;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  float: left;;

  outline: 7px solid #C5B8EF;
}

.footer{
  position: relative;;
  bottom: 0px;
}


table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  margin-bottom:110px;
  text-align: left;
  border-collapse: collapse; }

  th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039; }

    td {
      padding: 8px;
      background: #e8edff;
      border-bottom: 1px solid #fff;
      color: #669;
      border-top: 1px solid transparent; }

      tr:hover
      td {
        background: #d0dafd;
        color: #339; }
